rules_version = '2';

// Craft rules based on https://firebase.google.com/docs/storage/security
service firebase.storage {
  match /b/{bucket}/o {
    
    // Explicitly target the feedback_uploads folder
    match /feedback_uploads/{imageId} {
      // Allow public read & write to avoid any permission mismatch or content-type mismatch
      allow read, write: if true;
    }

    // Default deny for all other paths
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
